<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4EXF3NOwk4qrGJiynfrF40VymBMJh3kg</string>
	<key>GCM_SENDER_ID</key>
	<string>127656542393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bmicalculator-da7ef</string>
	<key>STORAGE_BUCKET</key>
	<string>bmicalculator-da7ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127656542393:ios:98862f66ff499f1ec2db68</string>
</dict>
</plist>